<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_ANON_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imxianp6b2dvbW9hZmRycHlma3ZoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDc5ODg5MjcsImV4cCI6MjA2MzU2NDkyN30.6TIHgjkta9jOxrZ-FiK0gM_fgpHOgF2rjiJJNkd2tso</string>
	<key>SUPABASE_URL</key>
	<string>https://lbjzzogomoafdrpyfkvh.supabase.co</string>
</dict>
</plist>
